$MAIN_COLOR: #db0bb9;

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}

.input__wrap {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}

.genders__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.gender__wrap {
  display: flex;
  gap: 3px;
  font-size: 20px;
  font-weight: 500;
}

.form_text {
  align-self: flex-end;
  font-size: 14px;
  position: absolute;
  bottom: 2px;
  right: 0;
}

.submit__btn {
  font-size: 22px;
  padding: 5px 50px;
}

.error {
  color: red;
  margin-top: -10px;
  text-align: center;
}

input {
  border-radius: 5px;
  border: 2px solid rgba($color: $MAIN_COLOR, $alpha: 0.5);
  text-align: center;
  font-size: 22px;
}

select {
  border-radius: 5px;
  border: 2px solid rgba($color: $MAIN_COLOR, $alpha: 0.5);
  font-size: 22px;
  cursor: pointer;
}

.forms_page {
  display: flex;
  flex-direction: column;
}

.form__cards__wrap {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.success {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: green;
  border-radius: 5px;
  border: 3px solid rgba($color: green, $alpha: 0.8);
  transition: 1s;
  opacity: 0;

  &_active {
    opacity: 1;
  }
}
