.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid rgba($color: #db0bb9, $alpha: 0.7);
}

.nav {
  display: flex;
  gap: 20px;
  font-size: 22px;
  font-weight: 600;
}

.nav__btn {
  text-decoration: none;
  color: #db0bb9;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    transform: translateY(-2px);
    opacity: 0.8;
  }
}

.active__btn {
  background-color: #db0bb9;
  color: white;
}